* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ebd5a0;
  /*margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;*/
}

.quiz {
  background-color: #ebd5a0;
  width: 100%;
  max-width: 1440px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlap-wrapper {
  background: linear-gradient(180deg, rgb(54, 16, 92) 0%, rgb(81, 40, 121) 33%, rgb(97.5, 55.5, 140) 68.5%, rgb(110, 67, 154) 100%);
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  margin-top: 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #f8f8f8; /* Background color for the navbar */
}

/*.web-name-logo {
  flex: 1;
  width: 150px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
}*/

.search-bar {
  flex: 1;
  /*display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 25px;
  overflow: hidden;*/
}

.search-bar i {
  margin-left: 10px;
  font-size: 18px;
  color: #aaa;
}

.search-bar input[type="text"] {
  border: none;
  outline: none;
  padding: 10px;
  flex-grow: 1;
  font-size: 16px;
}

.search-bar button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.buttons {
  display: flex;
  gap: 20px;
}

.text-wrapper-2,
.text-wrapper-3 {
  font-size: 20px;
  cursor: pointer;
  color: #000;
}

.group-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efedef;
}

.qs {
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow: hidden;
  padding: 10px;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label,
.label-2,
.label-3,
.div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  padding: 10px;
  font-size: 16px;
  color: #131212;
}
